/*clear and set default styling*/
*{
font-family: sans-serif;
line-height: 1.15em;
margin: 0;
padding: 0;
}

body{
  background-color: #F1F1F2;
}

/* Styling top header*/
.banner{
  background-color: #02C39A;
  color: #F1F1F2;
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
}




/*Apply vertical centering to containers*/
.center{
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  right: 50%;
  transform: translateX(50%);
}

.flagPanel{
  display: block;
  text-align: left;
  margin: 10px;

}



/*Style Begin learning button*/

img{
width:50px;
height:50px;
border-radius: 25px;
}
.button{
  margin: 5px;
  padding: 0;
  background-color: #000000;
  border-radius: 25px;

}
/*Style lesson content*/



.active, .content:hover{
  background-color: #2F4858;
}

.tab{
  position: relative;

  width: 90%;
  color: #fff;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
}

.tab input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label{
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #02C39A;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;

}

.tabContent{
  max-height: 0;
  overflow: hidden;
  background: #F0F3BD;
  color: #000000;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  border: black;
}
.tab input:checked ~ .tabContent{
  max-height: 100vh;
}
.table{
text-align: left;
width: 80%;

}
th, td{
  padding: 5px;
}
