/*clear and set default styling*/

*{
font-family: sans-serif;
line-height: 1.15em;
margin: 0;
padding: 0;
}

body{
  background-color: #F1F1F2;
}

/* Styling top header*/

.banner{
  background-color: #02C39A;
  color: #F1F1F2;
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
}

/*Apply Styling to the  */

.panel{
  display: block;
  text-align: left;
  margin: 10px;
}

/*Apply vertical centering to containers*/

.center{
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  right: 50%;
  transform: translateX(50%);
  }

/*Style flag button*/

img{
width:50px;
height:50px;
border-radius: 25px;
}

.flagButton{
  margin: 5px;
  padding: 0;
  background-color: #000000;
  border-radius: 25px;
}

/*Styling of Lesson selectors*/

.lessonButton{
  background-color: #02C39A;
  font-size: 18px;
  display: inline-block;
  width: 90%;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
}


/*Style lesson content*/

.tab{
  position: relative;
  width: 90%;
  color: #fff;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
}
.tab h5{
  color: #000000;
}
.tab input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label{
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #02C39A;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
}

.tabContent{
  max-height: 0;
  overflow: hidden;
  background: #F0F3BD;
  color: #000000;
  -webkit-transition: max-height .3s;
  -o-transition: max-height .3s;
  transition: max-height .3s;
  border: black;
}

.tab input:checked ~ .tabContent{
  max-height: 100vh;
}

.table{
text-align: left;
width: 80%;
}

th, td{
  padding: 5px;
  width: 50%;
}

.audioButton{
  background: none;
  border: none;
  }

.fa-play-circle{
  font-size: 24px;
  background: #F0F3BD;
  border-radius: 50px;
}

/*Quiz styling*/

.grid {
    height: 250px;
    margin: 10px;
    background-color: #fff;
    padding: 5px 25px 25px 25px;
    border-radius: 25px;
    border: 2px solid #cbcbcb;
}

.grid h5 {
    font-family: sans-serif;
    font-size: 16px;
}

.quizButtons button {
  width: 45%;
  font-size: 10px;
  background-color: #02C39A;
  color: #fff;
  border:  1px solid #fff;
  border-radius: 50px;
  margin: 5px 10px 5px 0;
  padding: 10px;
}

/*Translator Styling*/
.form{
  width:90%;
  display: grid;
  padding: 10px;
  margin: auto;
}
input[type="text"]{
  padding: 5px;
  margin: auto;
  font-size: 14px;
  width: 70%;
}

.translate{
  font-size: 18px;
  padding: 5px;
  width: 50%;
  margin: 10px auto;
  color: #fff;
  background-color: #02C39A;
  text-decoration: none;
  border: none;
}

.transOutput{
margin:auto;
}
